@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap'); /* Font Import */

/* Custom Variables */

:root {
    --primary-color: #152735;
    --secondary-color: #0F1C26;
    --red: #B51C1C;
    --green: #4BFD2E;
    --semi-bold: 600;
}

/* Utility Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-x: hidden;
    min-width: 340px;
}

/* Particles In Background */
.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    opacity: 0.3;
}

#particles-js {
    width: 100%;
    height: 100%;
}

/* Header Styles */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 60px;
    height: 125px;
}

.logo {
    cursor: pointer;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Info Selection Styles(Dashboard Navigation) */

.info-selection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 0;
    margin: auto;
    height: 80px;
    border-bottom: 1px solid #274964;
    border-top: 1px solid #274964;

}

.info-selection {
    flex-grow: 1; /* Allow the nav to grow and take available space */
    max-width: 70%; /* Limit the nav width to avoid overflow on smaller screens */
}

.info-selection ul {
    list-style-type: none;
    display: flex;
}

.info-selection li {
    margin: 0px 5%;
    position: relative;
    color: #a6a6a6;
    font-size: 1em;
    font-weight: var(--semi-bold);
    cursor: pointer;
}

.info-selection li.active {
    color: white;
}

.info-selection li.active::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white ;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.scan-again {
    border: 0;
    border-radius: 45px;
    background-color: var(--red);
    color: white;
    padding: 12px 25px;
    font-size: 0.8em;
    max-height: 50px;
    font-weight: var(--semi-bold);
    margin: 25px;
    font-family: inherit;
    transition: transform 0.2s ease;
}

.scan-again:hover {
    transform: scale(1.06);
    filter: brightness(1.2);
}

.scan-again:active {
    transform: scale(0.96);
}

/* DMARC Information Styles */

.dmarc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px 160px;
}

.dmarc-container h1{
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}

.dmarc-status {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin-top: 80px;
    color: white;
    padding: 30px;
}

.dmarc-info .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.text h2 {
    margin-bottom: 17px;
    font-size: 1.4em; 
}

.text p {
    max-width: 600px;
    font-size: 1em;
    font-weight: 200;
}

.dmarc-info {
    display: flex;
    align-items: center;
    position: relative;
}

.validity {
    position: absolute;
    top: 0px;
    right: 42px;
    font-size: 1em;
}

.validity::after {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -50px;
    transform: translateY(-10%);
}

.record-value {
    margin-top: 30px;
}

.record-value h3 {
    margin-bottom: 17px;
}

.record-value small {
    opacity: 0.8;
    font-weight: 200;
}

.policy-and-reporting {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.box {
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 49%; 
}

.dmarc-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    color: white;
    position: relative;
}

.dmarc-policy h3 {
    font-size: 1.6em;
    font-weight: 600;
}

.dmarc-policy small {
    max-width: 320px;
    font-size: 0.9em;
    font-weight: 200;
}

.dmarc-policy div {
    width: 30px;
    height: 30px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 40px;
    transform: translateY(-10%);
}

.reporting {
    padding: 30px;
    color: white;
}

.reporting h3 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 15px;
}

.reporting small {
    font-size: 0.9em;
    font-weight: 200;
}

.recipient {
    background-color: white;
    height: 40px;
    border-radius: 8px;
    color: var(--primary-color);
    padding: 9px;
    margin: 20px 0;
}

/* SPF Information Styles */

.spf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px 160px;
}

.spf-container h1{
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}

.spf-data {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 245px;
    margin-top: 80px;
    color: white;
    padding: 40px;
}

/* Subdomains Information Styles */

.subdomains-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px 160px;
}

.subdomains-container h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.subdomain-data table {
    background-color: var(--secondary-color);
    border-collapse: collapse;
    width: 100%;
    margin-top: 80px; 
    color: white;
    text-align: left;
    padding: 0;
}

.subdomain-data table th, .subdomain-data table td {
    height: 50px; 
    border-bottom: 1px solid #274964;
    border-right: 1px solid #274964;
    padding: 0 15px; 
}

.subdomain-data table thead th {
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
}

.subdomain-data table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Highlight on hover */
}

.subdomain-data table tbody td:first-child::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--red);
}

.subdomain-data table tbody td:first-child.active::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--green);
}

.subdomain-data table th:nth-child(4),
.subdomain-data table td:nth-child(4) {
    border-right: none;
}

.subdomain-data table td:last-child {
    border-right: none;
}

/* Handling which type of info is shown */

.stat-type {
    display: none;
}

.stat-type.show {
    display: block;
}
