/* Small Screens */

@media only screen and (max-width: 701px) {

    body {
        overflow-x: hidden;
        min-width: 400px;
    }
    
    /* Header */
    
    header {
        justify-content: flex-start;
        padding: 0 10px;
    }
    
    /* Info Selection Styles(Dashboard Navigation) */
    
    .info-selection-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        margin: auto;
        height: 100px;
        border-bottom: 1px solid #274964;
        border-top: 1px solid #274964;
    
    }
    
    .info-selection {
        flex-grow: 1; /* Allow the nav to grow and take available space */
        max-width: 100%; /* Limit the nav width to avoid overflow on smaller screens */
    }
    
    .info-selection ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .info-selection li {
        margin: 0px 3.3%;
        position: relative;
        color: #a6a6a6;
        font-size: 0.9em;
        font-weight: var(--semi-bold);
        cursor: pointer;
        white-space: nowrap;
    }
    
    .info-selection li.active {
        color: white;
    }
    
    .info-selection li.active::before {
        top: 20px;
        left: 50%;
    }
    
    .scan-again {
        position: absolute;
        top: 6.5%;
        right: 0;
        font-size: 0.8em;
        padding: 10px 10px;
        margin: 0 10px;
        border-radius: 20px;
    }
    
        .text p {
            max-width: 400px;
            font-size: 1em;
            font-weight: 200;
        }
    
        /* DMARC Information Styles */
    
        .dmarc-container {
            margin: 75px 50px;
        }
    
        .dmarc-info {
            flex-direction: column;
            text-align: center;
        }
    
        .dmarc-info .text {
            margin: 20px 0;
    
        }
    
        .record-value {
            text-align: center;
            max-width: 300px;
            word-break: break-all;
        }
    
        .validity h2{
            display: none;
        }
    
        .dmarc-policy h3 {
            font-size: 1.4em;
            font-weight: 600;
        }
        
        .dmarc-policy small {
            max-width: 175px;
            font-size: 0.9em;
        }
    
        .record-value {
            margin-top: 30px;
        }
        
        .record-value h3 {
            margin-bottom: 17px;
        }
        
        .record-value small {
            opacity: 0.8;
            font-weight: 200;
            max-width: 100px ;
        }
    
        .policy-and-reporting {
            flex-direction: column;
        }
    
        .box {
            width: 100%;
            margin: 20px 0;
            padding: 20px 30px;
        }

        .dmarc-policy div {
            top: 10%;
            right: 8%;
        }
    
        .reporting h3 {
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 15px;
        }
    
        .reporting h3 {
            font-size: 1.3em;
            font-weight: 600;
            margin-bottom: 15px;
        }
        
        .reporting small {
            font-size: 0.9em;
            font-weight: 200;
        }
        
        .recipient {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 8px;
            color: var(--primary-color);
            font-size: 0.7em;
            font-weight: bold;
            padding: 9px;
            margin: 20px 0;
        }

        /* SPF Information Styles */

        .spf-container {
            margin: 75px 35px;
        }

        .spf-container h1{
            font-size: 1.6em;
            font-weight: bold;
            text-align: center;
            color: white;
        }

        .spf-data {
            display: flex;
            flex-direction: column;
            background-color: var(--secondary-color);
            margin-top: 80px;
            color: white;
        }
        
        .spf-data table {
            padding: 10px 10px;
            position: relative;
        }

            .spf-data th {
              position: absolute;
              left: -9999px;
            }
        
            .spf-data tr {
              display: block;
              font-size: 0.8em;
            }
        
            .spf-data td {
              display: block;
              text-align: right;
              padding: 10px;
              height: 5em;
              font-size: 90%;
              border-right: none;
              position: relative;
              word-break: break-all;
            }

            .spf-data td::before {
                content: attr(data-label);
                font-weight: bold;
                display: block;
                margin-bottom: 0;
                padding: 0 20% 0 5px;
                height: 100%;
                float: left;
              }

            .spf-data td:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.01);
            }

    
        /* Subdomains */
    
        .subdomains-container {
            margin: 75px 35px;
        }

        .subdomains-container h1{
            font-size: 1.6em;
            font-weight: bold;
            text-align: center;
            color: white;
        }

        .subdomain-data {
            display: flex;
            flex-direction: column;
            background-color: var(--secondary-color);
            margin-top: 80px;
            color: white;
        }
        
        .subdomain-data table {
            padding: 10px 10px;
            position: relative;
        }

            .subdomain-data th {
              position: absolute;
              left: -9999px;
            }
        
            .subdomain-data tr {
              display: block;
              font-size: 0.8em;
            }
        
            .subdomain-data td {
              display: block;
              text-align: right;
              padding: 10px;
              height: 5em;
              font-size: 90%;
              border-right: none;
              position: relative;
              word-break: break-all;
            }

            .subdomain-data td::before {
                content: attr(data-label);
                font-weight: bold;
                display: block;
                margin: 12px 0 0 20px;
                padding: 0 20% 0 5px;
                height: 100%;
                float: left;
              }

            .subdomain-data td:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.01);
            }
    

        /* Handling which type of info is shown */
    
        .stat-type {
            display: none;
        }
        
        .stat-type.show {
            display: block;
        }
    }