/* Medium Screens */

@media only screen and (min-width: 701px) and (max-width: 1024px) {
    .text p {
        max-width: 400px;
        font-size: 1em;
        font-weight: 200;
    }

    /* Info Selection Styles(Dashboard Navigation) */

    .info-selection li {
        white-space: nowrap;
    }
    
    /* DMARC Information Styles */

    .dmarc-container {
        margin: 75px 100px;
    }

    .dmarc-policy h3 {
        font-size: 1.4em;
        font-weight: 600;
    }
    
    .dmarc-policy small {
        max-width: 230px;
        font-size: 0.9em;
    }

    .reporting h3 {
        font-size: 1.6em;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    .recipient {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 8px;
        color: var(--primary-color);
        padding: 9px;
        margin: 20px 0;
    }

    /* SPF Information Styles */
    
    .spf-container {
        margin: 75px 70px;
    }

    /* Subdomain Information Styles */

    .subdomains-container {
        margin: 75px 70px;
    }

    .subdomain-data tbody td {
        white-space: nowrap;
    }

    .subdomain-data table thead th {
        font-size: 0.8em;

    }

    .subdomain-data table td {
        font-size: 0.7em;
    }
}