@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #152735;
  --secondary-color: #0f1c26;
  --red: #b51c1c;
  --green: #4bfd2e;
  --semi-bold: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 100%;
}

/* Particles In Background */
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0.3;
}

#particles-js {
  width: 100%;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pt-kit-logo {
  width: 256px;
  margin: -50px 0 0px 0;
}

.tagline {
  color: white;
  font-family: inherit;
  font-size: 1em;
  margin: 25px;
  font-weight: 200;
}

.enter-domain-content {
  position: relative;
  max-width: 100%;
}

.enter-domain-content.invalid {
  color: red;
}

.fa-magnifying-glass {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 17px;
  font-size: 20px;
  color: var(--primary-color);
  transform: translateY(-50%);
}

.enter-domain {
  background-color: white;
  border: 0;
  border-radius: 45px;
  position: relative;
  width: 550px;
  height: 45px;
  max-height: 45px;
  padding: 0 60px;
  font-size: 16px;
  font-weight: var(--semi-bold);
  font-family: inherit;
}

.enter-domain:focus {
  outline: none;
}

.enter-domain::placeholder {
  color: #868686;
}

.enter-domain.invalid:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: red;
}

.start-scan {
  border: 0;
  border-radius: 45px;
  background-color: var(--red);
  color: white;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: var(--semi-bold);
  margin: 25px;
  font-family: inherit;
  transition: transform 0.2s ease;
}

.start-scan:hover {
  transform: scale(1.06);
  filter: brightness(1.2);
}

.start-scan:active {
  transform: scale(0.96);
}

@media only screen and (max-width: 701px) {
  .pt-kit-logo {
    width: 200px;
    margin: -50px 0 30px 0;
  }

  .tagline {
    margin: 0 0 15px 0;
  }

  .enter-domain {
    width: 92vw;
    height: 40px;
    padding: 0 50px;
    font-size: 13px;
  }

  .start-scan {
    padding: 10px 15px;
    font-size: 14px;
  }
}
