@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"); /* Font Import */

/* Custom Variables */

:root {
  --primary-color: #152735;
  --secondary-color: #0f1c26;
  --red: #b51c1c;
  --green: #4bfd2e;
  --semi-bold: 600;
}

/* Utility Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  min-width: 340px;
  min-height: 100vh;
}

/* Particles In Background */
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0.3;
}

#particles-js {
  width: 100%;
  height: 100%;
}

/* Header Styles */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 60px;
  height: 125px;
}

.logo {
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Info Selection Styles(Dashboard Navigation) */

.info-selection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px 0;
  margin: auto;
  height: 80px;
  border-bottom: 1px solid #274964;
  border-top: 1px solid #274964;
}

.info-selection {
  flex-grow: 1; /* Allow the nav to grow and take available space */
  max-width: 70%; /* Limit the nav width to avoid overflow on smaller screens */
}

.info-selection ul {
  list-style-type: none;
  display: flex;
}

.info-selection li {
  margin: 0px 5%;
  position: relative;
  color: #a6a6a6;
  font-size: 1em;
  font-weight: var(--semi-bold);
  cursor: pointer;
}

.info-selection li.active {
  color: white;
}

.info-selection li.active::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.scan-again {
  border: 0;
  border-radius: 45px;
  background-color: var(--red);
  color: white;
  padding: 12px 25px;
  font-size: 0.8em;
  max-height: 50px;
  font-weight: var(--semi-bold);
  margin: 25px;
  font-family: inherit;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.scan-again:hover {
  transform: scale(1.06);
  filter: brightness(1.2);
}

.scan-again:active {
  transform: scale(0.96);
}

/* DMARC Information Styles */

.dmarc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 160px;
}

.dmarc-container h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

.dmarc-status {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin-top: 80px;
  color: white;
  padding: 30px;
}

.dmarc-info .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.text h2 {
  margin-bottom: 17px;
  font-size: 1.4em;
}

.text p {
  max-width: 600px;
  font-size: 1em;
  font-weight: 200;
}

.dmarc-info {
  display: flex;
  align-items: center;
  position: relative;
}

.validity {
  position: absolute;
  top: 0px;
  right: 42px;
  font-size: 1em;
}

.validity::after {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--green);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -50px;
  transform: translateY(-10%);
}

.record-value {
  margin-top: 30px;
}

.record-value h3 {
  margin-bottom: 17px;
}

.record-value small {
  opacity: 0.8;
  font-weight: 200;
}

.policy-and-reporting {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.box {
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 49%;
}

.dmarc-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  color: white;
  position: relative;
}

.dmarc-policy h3 {
  font-size: 1.6em;
  font-weight: 600;
}

.dmarc-policy small {
  max-width: 320px;
  font-size: 0.9em;
  font-weight: 200;
}

.dmarc-policy #dmarc-policy-validity {
  width: 30px;
  height: 30px;
  background-color: var(--green);
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 40px;
  transform: translateY(-10%);
}

.reporting {
  padding: 30px;
  color: white;
}

.reporting h3 {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 15px;
}

.reporting small {
  font-size: 0.9em;
  font-weight: 200;
}

.recipient {
  background-color: white;
  height: 40px;
  border-radius: 8px;
  color: var(--primary-color);
  padding: 9px;
  margin: 20px 0;
}

/* SPF Information Styles */

.spf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 160px;
}

.spf-container h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

.spf-data {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin-top: 80px;
  color: white;
  padding: 30px;
}

.spf-info {
  display: flex;
  align-items: center;
  position: relative;
}

.spf-info .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

/* Subdomains Information Styles */

.subdomains-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 160px;
}

.subdomains-container h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.subdomain-data {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  color: white;
}

.subdomain-data table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--secondary-color);
}

.subdomain-data th,
td {
  border: 1px solid #274964;
  border-left: none;
  border-top: none;
  padding: 20px;
  text-align: left;
  height: 100%;
}

.subdomain-data td {
  position: relative;
}

.subdomain-data th:last-child,
td:last-child {
  border-right: none;
}

.subdomain-data th {
  background-color: transparent;
}

.subdomain-data tr:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.subdomain-activity {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 18px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--red);
}

.subdomain-activity.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green);
}

.subdomain-data tbody td {
  padding-left: 40px;
}

.subdomain-data table th:nth-child(4),
.subdomain-data table td:nth-child(4) {
  border-right: none;
}

.subdomain-data table td:last-child {
  border-right: none;
}

/* Overall Technology Stack Styles */

.overall-stack-container .title-and-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.overall-stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 160px;
}

.overall-stack-container h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

.overall-stack-data {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  color: white;
}

.overall-stack-data table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--secondary-color);
}

.overall-stack-data th,
td {
  border: 1px solid #274964;
  border-left: none;
  border-top: none;
  padding: 20px;
  text-align: left;
  height: 100%;
}

.overall-stack-data th:last-child,
td:last-child {
  border-right: none;
}

.overall-stack-data th {
  background-color: transparent;
}

.overall-stack-data tr:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

/* Contact Section */

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.contact-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  width: 70%;
  margin: 75px 200px;
  color: white;
}

.inquiry-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.inquiry-top h1 {
  font-size: 48px;
  color: white;
}

.inquiry-top a {
  position: relative;
  background-color: var(--red);
  border: none;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s ease;
}

.inquiry-top a:hover {
  transform: scale(1.1);
}

.inquiry-top a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
}

.inquiry-top a i img {
  width: 30px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  max-width: 410px;
  margin: 20px 0;
}

.contact-text h1 {
  font-size: 2.5em;
  text-align: left;
}

.contact-text small {
  display: block;
  text-align: right;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.4em;
  margin: 30px 0 0 20%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.contact-form label {
  font-size: 1em;
  font-weight: 200;
  margin: 10px 0;
}

.contact-form input {
  height: 45px;
  width: 100%;
  border: none;
  font-size: 1em;
  border-radius: 10px;
  padding-left: 20px;
  font-family: inherit;
}

.contact-form textarea.message {
  font-family: inherit;
  font-size: 1em;
  padding: 20px;
  height: 10em;
  border: none;
  border-radius: 15px;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
}

.contact-form .submit {
  border: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--red);
  color: white;
  border-radius: 45px;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.contact-form .submit:hover {
  background-color: white;
  color: black;
}

.contact-form .submit:active {
  transform: scale(0.95);
}

/* Privacy Policy */

.privacy-policy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.privacy-policy-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  width: 70%;
  margin: 75px 200px;
  color: white;
}

.privacy-policy-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.privacy-policy-top h1 {
  font-size: 48px;
  color: white;
}

.privacy-policy-top a {
  position: relative;
  background-color: var(--red);
  border: none;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s ease;
}

.privacy-policy-top a:hover {
  transform: scale(1.1);
}

.privacy-policy-content {
  line-height: 1.5em;
}

.privacy-policy-top a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
}

.privacy-policy-top a i img {
  width: 30px;
}

/* Terms Of Use */

.terms-of-use {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.terms-of-use-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  width: 70%;
  margin: 75px 200px;
  color: white;
}

.terms-of-use-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.terms-of-use-top h1 {
  font-size: 48px;
  color: white;
}

.terms-of-use-top a {
  position: relative;
  background-color: var(--red);
  border: none;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s ease;
}

.terms-of-use-top a:hover {
  transform: scale(1.1);
}

.terms-of-use-content {
  line-height: 1.5em;
}

.terms-of-use-top a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
}

.terms-of-use-top a i img {
  width: 30px;
}

/* Footer Style */

footer {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  color: white;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 150px;
}

.logo-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.logo-quote img {
  width: 300px;
  margin-bottom: 30px;
}

.logo-quote p {
  font-weight: 200;
  font-size: 1em;
  max-width: 250px;
}

.links {
  display: flex;
  flex-direction: column;
}

.footer-container a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 18px;
}

.footer-container a:hover {
  opacity: 0.5;
}

/* Handling which type of info is shown */

.stat-type {
  display: none;
}

.stat-type.show {
  display: block;
}
